# Visual Studio / CMake generated artifacts
build/
.vscode/
**/.vs/
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.pdb
**/*.ilk
**/*.iobj
**/*.ipdb
**/*.exp
**/*.lib
**/*.dll
**/*.exe

# OS files
.DS_Store
Thumbs.db
